.sidebar {
  z-index: 99;
  top: 0;
  height: 116px;
  width: 350px;
  background-color: #8337a1;
  padding-left: 16px;
  padding-top: 16px;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.sidebar:hover {
  transition: height 0.8s;
  height: 80vh;
}

.walletButton {
  height: 100px;
  background-color: #8337a1;
  border-radius: 24px;
  color: white;
  display: flex;
  flex-direction: row;
}

.ensName {
  text-align: right;
  padding: 14px;
}

.avatar {
  height: 70px;
  border-radius: 50%;
  width: 70px;
  margin: auto;
}

.sidebarButtons {
    margin-top: 12px;
    margin-right: 6px;
padding: 16px;
border-color: transparent;
border-width: 2px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow:  10px 10px 20px #763291,
               -10px -10px 20px #903db1;
  display: flex;
  flex-direction: row;
  width: 95%;
}

.selectedButton {
  margin-top: 12px;
  margin-right: 6px;
padding: 16px;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border-color: #cf55ff;
border-width: 2px;
background: #8337a1;
box-shadow: inset 10px 10px 20px #763291,
inset -10px -10px 20px #903db1;
display: flex;
flex-direction: row;
width: 95%;
}

.sidebarButtons:hover {
  border-color: #cf55ff;
  border-width: 2px;
  background: #8337a1;
  box-shadow: inset 10px 10px 20px #763291,
  inset -10px -10px 20px #903db1;

}

.sidebarIcons {
  align-self: center;
  filter: invert(100%) sepia(96%) saturate(19%) hue-rotate(237deg) brightness(105%) contrast(100%);
}

.sidebarLabels{
  padding-left: 28px;
  color: white;

}
