.search {
    border-color: black;
    border-radius: 26px;
    border-width: 2px;
    padding-left: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 8px;
    width: 275px;
    height: 48px;
    overflow: hidden;
    transition: .4s;
}

.search:focus-within{
    height: 128px;
    background-color: rgb(250, 232, 209);
    transition: .4s;
    z-index: 1;
}

.searchIcon{
    position: absolute;
    top: 0;
}

.searchInput{
    position: absolute;
    left: 12px;
    top: 12px;
    border-color: black;
    border-radius: 26px;
    padding: 12px;
    padding-left: 12px;
    width: 270px;
    height: 44px;
}