.person{
    margin-top: 8px;
    margin-bottom: 8px;
    border-color: black;
    border-width: 2px;
    border-radius: 12px;
    height: 75px;
    width: 280x;
    display: flex;
    flex-direction: row;
   justify-content: space-between;
   padding: 8px;
   align-items: center;
   background-color: wheat;
}

.donation{
    border: 2px solid black;
    border-radius: 5px;
    height: 30px;
    padding: 3px;
    z-index: 100;
    pointer-events: all;
}

.avatar{
    padding-left: 4px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-color: black;
    border-width: 2px;
}

.username {
    padding-right: 12px;
}