.post{
    z-index: 3;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc(95vw - 350px) !important;
    height: 98vh;
    border-color: black;
    border-width: 2px;
}

.person{
    z-index: 3;
    position: absolute;
    bottom: -16px;
    left: -95px;
}

.refresh{
    color: white;
    background-color: purple;
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
}